@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: #020817;
    color: white;
    min-height: 100vh;
    overflow-x: hidden;
}

/* Hide scrollbar */
::-webkit-scrollbar {
    display: none;
}

/* Float animation */
@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

/* Custom class for float animation */
.animate-float {
    animation: float 8s ease-in-out infinite;
}